.headerNav {
    background-color: #212529;
    width: 100%;
}

.headerContainer {
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 55px;
}