.logoBrand {
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    text-decoration: none;
}

.logoBrand:hover {
    color: white;
}

.logoImg {
    height: 30px;
    width: 30px;
}
